<h1>Listing teams</h1>
<table class="data" width="100%">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @teams.each do |team| %>
	<tr>
		<td><%= team.name %></td>
		<td><%= link_to 'Show', team %></td>
	</tr>
	<% end %>
</tbody>
</table>