@font-face {
	font-family: 'PFDinTextCompPro';
	src: url('/fonts/pfdintextcomppro-bold-webfont.eot');
	src: local('â˜º'), url('/fonts/pfdintextcomppro-bold-webfont.woff') format('woff'), url('/fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype'), url('/fonts/pfdintextcomppro-bold-webfont.svg#webfontyevio2rb') format('svg');
	font-weight: normal;
	font-style: normal;
}