/*@import url('/stylesheets/refinery/application.css');*/

@import "reset";
@import "960";
@import "text";
@import "typography";
@import "social_links";
@import "buttons";
@import "flash";
@import "tables";
@import "buttons";
@import "tabs";
/*@import "dev";*/

$accent_color_1:		rgb(68,85,110);
$accent_color_3:		rgb(103,128,166);
$accent_color_3:		rgb(164,194,230);
$accent_color_1_hover:	#981a37;
$link_color:	#981a37;
$border_color:	#666666;
$standard_gray:	#666666;
$light_gray:	#cccccc;
$pale_gray:		#f1f1f1;

$white:			#ffffff;
$black:			#000000;

$title_font:	'PFDinTextCompPro', Arial, sans-serif;
$body_font: 	'Georgia,serif,Times';

.fl{
	float:left;
}

.fr{
	float:right;
}

.clr{
	clear:both;
}

a{
	color:$link_color;
}

.black{
	color:$black;
}

header{
	padding-top:5px;
	h1{
		text-indent:-99999px;
		 margin:3px 0px 8px 5px;
		&.logo{
			width:400px;
			height:60px;
			background:url("/images/logo_sm.png") no-repeat;
		}
	}
}

footer{
	padding:5px 0px;
}


#menu{
	background:$accent_color_3;
	border-top:1px solid $border_color;
	border-bottom:1px solid $border_color;
	text-transform:uppercase;
	font-family: $title_font;
	font-size:20px;
	list-style:none;
	padding-left:5px;
	li{
		float:left;
		margin:0px 5px 0px 0px;
		&:after{
			content:  " /";
		}
		&:last-child:after {
			content: ""; 
		}
		&.selected a, & a:hover{
			font-weight:normal;
			color:$accent_color_1;
		}
	}
	a{
		text-decoration:none;
		color:$black;
		&.selected{
			color:$accent_color_1;
		}
	}

}

#social_link_area{
	margin-top:-4px;
	.address{
		float:right;
		margin-right:0.5em;
	}
}


section.content{
	padding-top:10px;
	margin-bottom:15px;
	&.sidebar{
		margin-bottom:10px;
		& > section{
			background:$pale_gray;
			padding:5px 10px;
			margin-bottom:10px;
		}
	}
}

article{
	border-top:1px solid $light_gray;
	padding-top:5px;
	margin-bottom:5px;
	p{
		color:$standard_gray;
		font-size:12px;
	}
}


.flow_cloumn_2{
	-moz-column-count: 2; -moz-column-gap: 1em; 
	-webkit-column-count: 2; -webkit-column-gap: 1em;
	column-count: 2; column-gap: 1em;
}

.flow_cloumn_3{
	-moz-column-count: 3; -moz-column-gap: 1em; 
	-webkit-column-count: 3; -webkit-column-gap: 1em;
	column-count: 3; column-gap: 1em;
}

section#masthead{
	background:$accent_color_1;
	color:$accent_color_3;
	position:relative;
	height:30px;
	line-height:30px;
	border-bottom:1px solid $border_color;
	padding-left:10px;
	a{
		color:$white;
	}
}

#sign_in_toggle, #logged_in_status{
	float:right;
	width:225px;
	height:30px;
	text-align:center;
	border-left:1px solid $border_color;
	border-right:1px solid $border_color;
	span{
		display:inline-block;
		margin-right:10px;
		font-size:11px;
	}
	
}

#inline_login_container{
	background:#fff;
	display:none;
	position:absolute;
	right:0px;
	top:30px;
	width:225px;
	border:1px solid $border_color;
}



form#inline_login{
	div.field{
		position:relative;
		margin:5px;
		label{
			display:inline-block;
			width:75px;
		}
		input{
			width:125px;
			&#user_submit{
				margin:5px;
			}
		}
	}
	div#forgot_pass{
		text-align:center;
	}
}

form#new_player_game_stat_estimate{
	margin-bottom:15px;
	div.input{
		margin-bottom:3px;
	}
	input.button{
		margin:5px 0px 0px 75px;
	}
	label{
		display:inline-block;
		width:75px;
	}
}

