@charset "UTF-8";
/*@import url('/stylesheets/refinery/application.css');*/
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block; }

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

li {
  /*
    For IE6 + IE7.
  */
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

svg {
  /*
    For IE9.
  */
  overflow: hidden; }

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* `Containers
----------------------------------------------------------------------------------------------------*/
.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative; }

.container_12 .grid_3,
.container_16 .grid_4 {
  width: 220px; }

.container_12 .grid_6,
.container_16 .grid_8 {
  width: 460px; }

.container_12 .grid_9,
.container_16 .grid_12 {
  width: 700px; }

.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px; }

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 60px; }

.container_12 .grid_2 {
  width: 140px; }

.container_12 .grid_4 {
  width: 300px; }

.container_12 .grid_5 {
  width: 380px; }

.container_12 .grid_7 {
  width: 540px; }

.container_12 .grid_8 {
  width: 620px; }

.container_12 .grid_10 {
  width: 780px; }

.container_12 .grid_11 {
  width: 860px; }

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {
  width: 40px; }

.container_16 .grid_2 {
  width: 100px; }

.container_16 .grid_3 {
  width: 160px; }

.container_16 .grid_5 {
  width: 280px; }

.container_16 .grid_6 {
  width: 340px; }

.container_16 .grid_7 {
  width: 400px; }

.container_16 .grid_9 {
  width: 520px; }

.container_16 .grid_10 {
  width: 580px; }

.container_16 .grid_11 {
  width: 640px; }

.container_16 .grid_13 {
  width: 760px; }

.container_16 .grid_14 {
  width: 820px; }

.container_16 .grid_15 {
  width: 880px; }

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_3,
.container_16 .prefix_4 {
  padding-left: 240px; }

.container_12 .prefix_6,
.container_16 .prefix_8 {
  padding-left: 480px; }

.container_12 .prefix_9,
.container_16 .prefix_12 {
  padding-left: 720px; }

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 80px; }

.container_12 .prefix_2 {
  padding-left: 160px; }

.container_12 .prefix_4 {
  padding-left: 320px; }

.container_12 .prefix_5 {
  padding-left: 400px; }

.container_12 .prefix_7 {
  padding-left: 560px; }

.container_12 .prefix_8 {
  padding-left: 640px; }

.container_12 .prefix_10 {
  padding-left: 800px; }

.container_12 .prefix_11 {
  padding-left: 880px; }

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 {
  padding-left: 60px; }

.container_16 .prefix_2 {
  padding-left: 120px; }

.container_16 .prefix_3 {
  padding-left: 180px; }

.container_16 .prefix_5 {
  padding-left: 300px; }

.container_16 .prefix_6 {
  padding-left: 360px; }

.container_16 .prefix_7 {
  padding-left: 420px; }

.container_16 .prefix_9 {
  padding-left: 540px; }

.container_16 .prefix_10 {
  padding-left: 600px; }

.container_16 .prefix_11 {
  padding-left: 660px; }

.container_16 .prefix_13 {
  padding-left: 780px; }

.container_16 .prefix_14 {
  padding-left: 840px; }

.container_16 .prefix_15 {
  padding-left: 900px; }

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_3,
.container_16 .suffix_4 {
  padding-right: 240px; }

.container_12 .suffix_6,
.container_16 .suffix_8 {
  padding-right: 480px; }

.container_12 .suffix_9,
.container_16 .suffix_12 {
  padding-right: 720px; }

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 80px; }

.container_12 .suffix_2 {
  padding-right: 160px; }

.container_12 .suffix_4 {
  padding-right: 320px; }

.container_12 .suffix_5 {
  padding-right: 400px; }

.container_12 .suffix_7 {
  padding-right: 560px; }

.container_12 .suffix_8 {
  padding-right: 640px; }

.container_12 .suffix_10 {
  padding-right: 800px; }

.container_12 .suffix_11 {
  padding-right: 880px; }

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {
  padding-right: 60px; }

.container_16 .suffix_2 {
  padding-right: 120px; }

.container_16 .suffix_3 {
  padding-right: 180px; }

.container_16 .suffix_5 {
  padding-right: 300px; }

.container_16 .suffix_6 {
  padding-right: 360px; }

.container_16 .suffix_7 {
  padding-right: 420px; }

.container_16 .suffix_9 {
  padding-right: 540px; }

.container_16 .suffix_10 {
  padding-right: 600px; }

.container_16 .suffix_11 {
  padding-right: 660px; }

.container_16 .suffix_13 {
  padding-right: 780px; }

.container_16 .suffix_14 {
  padding-right: 840px; }

.container_16 .suffix_15 {
  padding-right: 900px; }

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .push_3,
.container_16 .push_4 {
  left: 240px; }

.container_12 .push_6,
.container_16 .push_8 {
  left: 480px; }

.container_12 .push_9,
.container_16 .push_12 {
  left: 720px; }

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 80px; }

.container_12 .push_2 {
  left: 160px; }

.container_12 .push_4 {
  left: 320px; }

.container_12 .push_5 {
  left: 400px; }

.container_12 .push_7 {
  left: 560px; }

.container_12 .push_8 {
  left: 640px; }

.container_12 .push_10 {
  left: 800px; }

.container_12 .push_11 {
  left: 880px; }

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .push_1 {
  left: 60px; }

.container_16 .push_2 {
  left: 120px; }

.container_16 .push_3 {
  left: 180px; }

.container_16 .push_5 {
  left: 300px; }

.container_16 .push_6 {
  left: 360px; }

.container_16 .push_7 {
  left: 420px; }

.container_16 .push_9 {
  left: 540px; }

.container_16 .push_10 {
  left: 600px; }

.container_16 .push_11 {
  left: 660px; }

.container_16 .push_13 {
  left: 780px; }

.container_16 .push_14 {
  left: 840px; }

.container_16 .push_15 {
  left: 900px; }

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_3,
.container_16 .pull_4 {
  left: -240px; }

.container_12 .pull_6,
.container_16 .pull_8 {
  left: -480px; }

.container_12 .pull_9,
.container_16 .pull_12 {
  left: -720px; }

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -80px; }

.container_12 .pull_2 {
  left: -160px; }

.container_12 .pull_4 {
  left: -320px; }

.container_12 .pull_5 {
  left: -400px; }

.container_12 .pull_7 {
  left: -560px; }

.container_12 .pull_8 {
  left: -640px; }

.container_12 .pull_10 {
  left: -800px; }

.container_12 .pull_11 {
  left: -880px; }

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .pull_1 {
  left: -60px; }

.container_16 .pull_2 {
  left: -120px; }

.container_16 .pull_3 {
  left: -180px; }

.container_16 .pull_5 {
  left: -300px; }

.container_16 .pull_6 {
  left: -360px; }

.container_16 .pull_7 {
  left: -420px; }

.container_16 .pull_9 {
  left: -540px; }

.container_16 .pull_10 {
  left: -600px; }

.container_16 .pull_11 {
  left: -660px; }

.container_16 .pull_13 {
  left: -780px; }

.container_16 .pull_14 {
  left: -840px; }

.container_16 .pull_15 {
  left: -900px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1; }

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  font: 13.5px/1.4 Georgia, serif, Times; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

/* `Headings
----------------------------------------------------------------------------------------------------*/
p {
  margin-bottom: 10px; }

.black {
  color: #000; }

.serif {
  font-family: Georgia,serif,Times;
  text-transform: none; }

h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'PFDinTextCompPro', Arial, sans-serif;
  margin-bottom: 12px;
  line-height: 1; }

h5 {
  margin-bottom: 10px; }

h1, h2 {
  font-size: 26px;
  /*  line-height:0.8;*/ }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px; }

h5 {
  font-size: 13px; }

h6 {
  margin-top: -3px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  margin-bottom: 12px; }

/* `Spacing
----------------------------------------------------------------------------------------------------*/
ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  margin-left: 30px; }

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  /*  margin-bottom: 20px;*/ }

@font-face {
  font-family: 'PFDinTextCompPro';
  src: url("/fonts/pfdintextcomppro-bold-webfont.eot");
  src: local("â˜º"), url("/fonts/pfdintextcomppro-bold-webfont.woff") format("woff"), url("/fonts/pfdintextcomppro-bold-webfont.ttf") format("truetype"), url("/fonts/pfdintextcomppro-bold-webfont.svg#webfontyevio2rb") format("svg");
  font-weight: normal;
  font-style: normal; }

ul.social-list {
  float: left;
  display: block;
  list-style: none;
  margin: 9px 0 5px;
  list-style: none; }
  ul.social-list li {
    float: left;
    margin: 0 6px 0 0; }

#twitter, #facebook, #foursquare, #mail {
  height: 25px;
  width: 25px; }
  #twitter a, #facebook a, #foursquare a, #mail a {
    position: absolute;
    height: 25px;
    width: 25px;
    text-decoration: none; }
    #twitter a p, #facebook a p, #foursquare a p, #mail a p {
      display: none; }

#twitter {
  background: url("../stylesheets/img/social_icons.gif") no-repeat -25px 0; }
  #twitter a {
    top: 93px;
    left: -2px; }

#facebook {
  background: url("../stylesheets/img/social_icons.gif") no-repeat -50px 0; }
  #facebook a {
    top: 93px;
    left: 29px; }

#foursquare {
  display: none;
  width: 26px;
  background: url("../stylesheets/img/social_icons.gif") no-repeat -75px 0; }
  #foursquare a {
    top: 93px;
    left: 61px; }

#mail {
  background: url("../stylesheets/img/social_icons.gif") no-repeat 0px 0; }

.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 12px/100% Arial, Helvetica, sans-serif;
  padding: .25em 1em .27em !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
  .button:hover {
    text-decoration: none;
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
  .button:active {
    position: relative;
    top: 1px;
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
    background: -moz-linear-gradient(top, #575757, #888888);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
  .button.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em; }
  .button.large {
    font-size: 18px;
    padding: .25em 2em .1em !important; }
  .button.small {
    font-size: 11px;
    padding: .2em 1em .275em; }
  .button.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
    background: -moz-linear-gradient(top, #666666, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }
    .button.black:hover {
      background: #000;
      background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
      background: -moz-linear-gradient(top, #444444, black);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }
    .button.black:active {
      color: #666;
      background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
      background: -moz-linear-gradient(top, black, #444444);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }
  .button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -moz-linear-gradient(top, white, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
    .button.white:hover {
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
      background: -moz-linear-gradient(top, white, #dcdcdc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
    .button.white:active {
      color: #999;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
      background: -moz-linear-gradient(top, #ededed, white);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }
  .button.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }
    .button.orange:hover {
      background: #f47c20;
      background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
      background: -moz-linear-gradient(top, #f88e11, #f06015);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }
    .button.orange:active {
      color: #fcd3a5;
      background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
      background: -moz-linear-gradient(top, #f47a20, #faa51a);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }
  .button.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }
    .button.red:hover {
      background: #b61318;
      background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
      background: -moz-linear-gradient(top, #c9151b, #a11115);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }
    .button.red:active {
      color: #de898c;
      background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
      background: -moz-linear-gradient(top, #aa1317, #ed1c24);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }
  .button.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }
    .button.blue:hover {
      background: #007ead;
      background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
      background: -moz-linear-gradient(top, #0095cc, #00678e);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }
    .button.blue:active {
      color: #80bed6;
      background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
      background: -moz-linear-gradient(top, #0078a5, #00adee);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }
  .button.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }
    .button.rosy:hover {
      background: #ba4b58;
      background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
      background: -moz-linear-gradient(top, #cf5d6a, #a53845);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }
    .button.rosy:active {
      color: #dca4ab;
      background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
      background: -moz-linear-gradient(top, #bf404f, #f16c7c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }
  .button.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
    .button.green:hover {
      background: #538018;
      background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
      background: -moz-linear-gradient(top, #6b9d28, #436b0c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }
    .button.green:active {
      color: #a9c08c;
      background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
      background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }
  .button.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab'); }
    .button.pink:hover {
      background: #d57ea5;
      background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
      background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4'); }
    .button.pink:active {
      color: #f3c3d9;
      background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
      background: -moz-linear-gradient(top, #f171ab, #feb1d3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3'); }

a.button {
  padding: .4em 1.18em .45em !important; }
  a.button.large {
    padding: .4em 2.18em .3em !important; }

.flash {
  text-align: center;
  padding: .3em .4em;
  margin: 0 auto .5em;
  clear: both; }

.flash.error {
  border: thin solid #8b0000;
  background: #ffc0cb; }

.flash.notice, .flash.info {
  border: thin solid #009033;
  background: #DFFFE7; }

.flash.warning {
  border: thin solid #b8860b;
  background: #ff0; }

table.data {
  border-collapse: collapse;
  font-size: 75%;
  margin-left: 1px; }
  table.data thead th {
    background: #eee;
    /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#eeeeee));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #cccccc, #eeeeee);
    /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee');
    /* for IE */ }
    table.data thead th a:hover {
      color: blue;
      text-decoration: none; }
    table.data thead th a img {
      width: 12px;
      height: 11px;
      margin-left: 3px; }
    table.data thead th.vertical {
      width: 18px;
      padding: 0px; }
      table.data thead th.vertical > div {
        width: 18px;
        border: 1px dashed #fff;
        position: relative; }
        table.data thead th.vertical > div > div {
          width: 100px;
          height: 14px;
          border: 1px solid #ccc;
          font-size: 10px;
          overflow: hidden;
          position: absolute;
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          bottom: 25px;
          right: -45px;
          padding: 3px; }
      table.data thead th.vertical.even > div > div {
        background: #fff; }
      table.data thead th.vertical.odd > div > div {
        background: #eee; }
  table.data tbody {
    background: #fff; }
    table.data tbody tr.even, table.data tbody tr:nth-child(even) {
      background-color: #eee; }
  table.data td, table.data th {
    position: relative;
    padding: 2px 3px;
    border: 1px solid #ccc;
    overflow: hidden; }
    table.data td.noborder, table.data th.noborder {
      background: none;
      border: none; }
    table.data td.left, table.data th.left {
      text-align: left; }
    table.data td.right, table.data th.right {
      text-align: right; }
    table.data td.center, table.data th.center {
      text-align: center; }
    table.data td span.positive, table.data th span.positive {
      color: green; }
    table.data td span.negative, table.data th span.negative {
      color: red; }
  table.data.hborder td, table.data.hborder th {
    border-left: none;
    border-right: none; }

.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 12px/100% Arial, Helvetica, sans-serif;
  padding: .25em 1em .27em !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757'); }
  .button:hover {
    text-decoration: none;
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b'); }
  .button:active {
    position: relative;
    top: 1px;
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
    background: -moz-linear-gradient(top, #575757, #888888);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888'); }
  .button.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em; }
  .button.large {
    font-size: 18px;
    padding: .25em 2em .1em !important; }
  .button.small {
    font-size: 11px;
    padding: .2em 1em .275em; }
  .button.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
    background: -moz-linear-gradient(top, #666666, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); }
    .button.black:hover {
      background: #000;
      background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
      background: -moz-linear-gradient(top, #444444, black);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000'); }
    .button.black:active {
      color: #666;
      background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
      background: -moz-linear-gradient(top, black, #444444);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666'); }
  .button.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
    background: -moz-linear-gradient(top, white, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); }
    .button.white:hover {
      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
      background: -moz-linear-gradient(top, white, #dcdcdc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc'); }
    .button.white:active {
      color: #999;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
      background: -moz-linear-gradient(top, #ededed, white);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff'); }
  .button.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }
    .button.orange:hover {
      background: #f47c20;
      background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
      background: -moz-linear-gradient(top, #f88e11, #f06015);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); }
    .button.orange:active {
      color: #fcd3a5;
      background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
      background: -moz-linear-gradient(top, #f47a20, #faa51a);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); }
  .button.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317'); }
    .button.red:hover {
      background: #b61318;
      background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
      background: -moz-linear-gradient(top, #c9151b, #a11115);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); }
    .button.red:active {
      color: #de898c;
      background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
      background: -moz-linear-gradient(top, #aa1317, #ed1c24);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24'); }
  .button.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5'); }
    .button.blue:hover {
      background: #007ead;
      background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
      background: -moz-linear-gradient(top, #0095cc, #00678e);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e'); }
    .button.blue:active {
      color: #80bed6;
      background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
      background: -moz-linear-gradient(top, #0078a5, #00adee);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee'); }
  .button.rosy {
    color: #fae7e9;
    border: solid 1px #b73948;
    background: #da5867;
    background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
    background: -moz-linear-gradient(top, #f16c7c, #bf404f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f'); }
    .button.rosy:hover {
      background: #ba4b58;
      background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
      background: -moz-linear-gradient(top, #cf5d6a, #a53845);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845'); }
    .button.rosy:active {
      color: #dca4ab;
      background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
      background: -moz-linear-gradient(top, #bf404f, #f16c7c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c'); }
  .button.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e'); }
    .button.green:hover {
      background: #538018;
      background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
      background: -moz-linear-gradient(top, #6b9d28, #436b0c);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c'); }
    .button.green:active {
      color: #a9c08c;
      background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
      background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f'); }
  .button.pink {
    color: #feeef5;
    border: solid 1px #d2729e;
    background: #f895c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
    background: -moz-linear-gradient(top, #feb1d3, #f171ab);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab'); }
    .button.pink:hover {
      background: #d57ea5;
      background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
      background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4'); }
    .button.pink:active {
      color: #f3c3d9;
      background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
      background: -moz-linear-gradient(top, #f171ab, #feb1d3);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3'); }

a.button {
  padding: .4em 1.18em .45em !important; }
  a.button.large {
    padding: .4em 2.18em .3em !important; }

.container_12 {
  background-image: url(../stylesheets/img/12_col.gif);
  border-right: 1px dashed #ccc;
  border-left: 1px dashed #ccc; }

.page_container {
  /*	border:1px dashed #ccc;*/
  /*	background:#fafafa;*/ }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  min-height: 20px;
  border-bottom: 1px dashed #ccc;
  /*	background:#fafafa;*/ }

.fl {
  float: left; }

.fr {
  float: right; }

.clr {
  clear: both; }

a {
  color: #981a37; }

.black {
  color: black; }

header {
  padding-top: 15px; }
  header h1 {
    margin-left: 5px; }

footer {
  padding: 5px 0px; }

#menu {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  text-transform: uppercase;
  font-family: "PFDinTextCompPro", Arial, sans-serif;
  font-size: 20px;
  list-style: none; }
  #menu li {
    float: left;
    margin: 0px 5px 0px 0px; }
    #menu li:after {
      content: " /"; }
    #menu li:last-child:after {
      content: ""; }
    #menu li.selected a, #menu li a:hover {
      font-weight: normal;
      color: #ff0033; }
  #menu a {
    text-decoration: none;
    color: black; }
    #menu a.selected {
      color: #ff0033; }

#social_link_area {
  margin-top: -4px; }
  #social_link_area .address {
    float: right;
    margin-right: 0.5em; }

section.content {
  padding-top: 10px;
  margin-bottom: 15px; }

article {
  border-top: 1px solid #cccccc;
  padding-top: 5px;
  margin-bottom: 5px; }
  article p {
    color: #666666;
    font-size: 12px; }

.flow_cloumn_2 {
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em; }

.flow_cloumn_3 {
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em; }

section#masthead {
  position: relative;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #666666; }

#sign_in_toggle, #logged_in_status {
  float: right;
  width: 225px;
  height: 30px;
  text-align: center;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666; }
  #sign_in_toggle span, #logged_in_status span {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px; }

#inline_login_container {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  width: 225px;
  border: 1px solid #666666; }

form#inline_login div.field {
  position: relative;
  margin: 5px; }
  form#inline_login div.field label {
    display: inline-block;
    width: 75px; }
  form#inline_login div.field input {
    width: 125px; }
    form#inline_login div.field input#user_submit {
      margin: 5px; }
form#inline_login div#forgot_pass {
  text-align: center; }

form#new_player_game_stat_estimate {
  margin-bottom: 15px; }
  form#new_player_game_stat_estimate div.input {
    margin-bottom: 3px; }
  form#new_player_game_stat_estimate input.button {
    margin: 5px 0px 0px 75px; }
  form#new_player_game_stat_estimate label {
    display: inline-block;
    width: 75px; }
